/* Navigation Bar */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333; /* Example background color, adjust as needed */
  }

  .nav-icon {
    display: block;
  }
}

/* About Component */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .slideshow {
    width: 100%;
  }

  .about-heading {
    text-align: center;
    padding: 0 1rem;
  }

  .vision-mission {
    flex-direction: column;
    padding: 1rem;
  }

  .vision-section,
  .mission-section {
    width: 100%;
    padding: 0.5rem;
  }

  .vision-images {
    flex-direction: column;
    align-items: center;
  }
}

/* Projects Component */
@media (max-width: 768px) {
  .projects-container {
    padding: 2rem;
  }

  .project-card {
    width: 100%;
    margin: 0 auto;
  }

  .project-card img {
    height: auto;
  }

  .project-card h2,
  .project-card p {
    text-align: center;
  }
}

/* Contact Component */
@media (max-width: 768px) {
  .contact-container {
    padding: 2rem;
  }

  .contact-info,
  .contact-additional {
    width: 100%;
    text-align: center;
  }

  .contact-info div {
    margin-bottom: 1rem;
  }

  .contact-additional {
    margin-top: 2rem;
  }

  .contact-additional p {
    margin-bottom: 1rem;
  }
}

/* Home Page */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .home-image {
    height: 300px;
  }

  .home-content {
    padding: 2rem;
    text-align: center;
  }

  .home-buttons {
    flex-direction: column;
    align-items: center;
  }

  .home-buttons button {
    margin: 0.5rem 0;
  }
}
